<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data</title>
    </head>
    <body>
        <header></header>
        
        {% for data in all_data %}
        <p>
            {{data.name}}: joy_sadness: {{data.joy_sadness}}, anger_fear: {{data.anger_fear}},
            trust_disgust: {{trust_disgust}}, interest_distraction: {{interest_distraction}},
            impression_pessimism: {{impression_pessimism}}, error_count: {{data.error_count}},
            sentence_length: {{data.sentence_length}}, timestamps: {{data.timestamps}},
            keys: {{data.keys}}
        </p>
        {% endfor %}
        
        <footer></footer>
    </body>
</html>