<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"> -->
    </head>
    <body>
        <header></header>
        
        {% for data in all_data %}
        <p>{{data.error_count}}, {{data.timestamps}}</p>
        {% endfor %}
        
        <footer></footer>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
    </body>
</html>