<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Data</title>
    </head>
    <body>
        <header></header>
        
        {% for data in all_data %}
        <p>
            {{data.name}}: joy_sadness: {{data.joy_sadness}}, anger_fear: {{data.anger_fear}},
            error_count: {{data.error_count}}, sentence_length: {{data.sentence_length}}, 
            timestamps: {{data.timestamps}}
        </p>
        {% endfor %}
        
        <footer></footer>
    </body>
</html>